@media (max-width: 768px){
  *{
    transition: all .4s;
  }
  body .wrapper{
    min-width: 768px;
    max-width: 960px;
  }
  .wrapper a{
    transition: none;
  }
  .wrapper .wrapper_header{
    overflow: hidden;
    margin: 58px auto 162px;
    width: 768px;
  }
  .wrapper .logo{
    margin: 0px 0px 0px 18px;
  }
  .wrapper .wrapper_header nav{
    margin: 16px 0px 0px 14px;
    float: none;
  }
  .wrapper .slider{
    clear: both;
    height: 330px;
    margin: 0px auto 0px;
    width: 768px;
  }
  .wrapper .slider_arrows{
    width: 774px;
    margin: -113px 0px 0px -3px;
  }
  .wrapper .slider_buttons{
    margin: 26px 0 0 0;
  }
  .wrapper .slider__box{
    margin: -314px 0px 0px 447px;
  }
  .wrapper .slider__item1{
    width: 370px;
    height: 200px;
    margin: 90px 0 0 42px;
  }
  .wrapper .slider__item1 h1{
    margin: 0 0 10px 0;
    font-size: 49px;
  }
  .wrapper .slider__item1 h2{
    font-size: 24px;
    margin: -10px 0 3px 0;
    display: inline-block;
    width: 266px;
    letter-spacing: -1px;
  }
  .wrapper .slider__item1 p{
    font-size: 16px;
    width: 282px;
  }
  .wrapper .about{
    width: 768px;
  }
  .wrapper .logos{
    width: 768px;
  }
  .wrapper .footer1{
    width: 768px;
    height: 396px;
    /*color: #fff;*/
    text-shadow: 0px 1px 0px rgba(255, 255, 255,   1);
    /*padding-left: 11px;*/
    margin: 0px auto;
  }
  .wrapper .footer2{
    margin: 0 auto;
    width: 768px;
    overflow: hidden;
  }

  .wrapper .second{
    width: 768px;
  }
  .wrapper .second_buttons{
    margin: 54px 0px 0px 154px
  }
  .wrapper .about_elem{
    width: 200px;
    margin: 68px 18px 0px 28px;
  }
  .wrapper .about_elem h3{
    font-size: 24px;
  }
  .wrapper .about_elem p{
    overflow: hidden;
    height: 142px;
  }
  .wrapper .about_elem a{
    margin: 0px 0 0 142px;
  }
  .wrapper .testimonials{
    width: 313px;
  }
  .wrapper .testimonials h3{
    font-size: 24px;
    margin: 28px 0px 0px 81px;
  }
  .wrapper .testimonials p{
    height: 144px;
    width: 238px;
    overflow: hidden;
    margin: -2px 0px 0px 81px;
  }
  .wrapper .testimonials span{
    display: block;
  }
  .wrapper .blog{
    width: 340px;
    margin-left: 100px;
  }
  .wrapper .blog__elem{
    margin: 7px 0 0 0;
  }
  .wrapper .blog a:after{
    content: "MORE BLOG POSTS";
    display: inline-block;
  }
  .wrapper .blog__elem p{
    width: 252px;
    height: 22px;
    overflow: hidden;
  }
  .wrapper .blog a{
    margin: 10px 0px 0px 240px;
  }
  .wrapper .footer1{
    width: 768px;
  }
  .wrapper .footer1_elem{
    width: 226px;
    overflow: hidden;
    margin-right: 34px;
  }
  .wrapper .footer1_elem h3,
  .wrapper .footer1_item_copyright{
    display: none;
  }
  .wrapper .footer1_elem .foot_par_960{
    hyphens: manual;
    margin: 5px 0px 0px 22px;
  }
  .wrapper .footer1_elem .foot_par_960:before{
    content: 'NEWS CATEGORIES';
    font-family: 'League Gothic', Tahoma, sans-serif;
    letter-spacing: -.5px;
    margin-bottom: 10px;
    font-size: 24px;
    display: block;
  }
  .wrapper .wrapper_footer2{
    height: 200px;
  }
  .wrapper .wrapper_footer2 nav{
    margin: 40px 0px 0px 14px;
  }
  .wrapper .footer2_design{
    margin: 26px 22px 0px 28px;
    display: block;
  }
  .wrapper .wrapper_footer2 .menu__elem{
    margin: 0px 29px 0px 0px;
  }

  .wrapper .logos .logos_item1{
    margin-left: 22px;
  }
  .wrapper .logos .logos_item2{
    margin-left: 50px;
  }
  .wrapper .logos .logos_item3{
    margin-left: 51px;
  }
  .wrapper .logos .logos_item4{
    margin-left: 60px;
  }
  .wrapper .logos .logos_item5{
    margin-left: 54px;
  }
  .wrapper .logos .logos_item6{
    margin-left: 51px;
  }

  .wrapper header{
    height: 244px;
  }

  .wrapper .wrapper_slider{
    margin: 0 0 153px 0;
  }
}
@media (max-width: 480px){
  body .wrapper{
    min-width: 480px;
    max-width: 768px;
  }
  .wrapper .wrapper_header{
    width: 480px;
  }
  .wrapper header{
    height: 203px;
  }
  .wrapper .logo{
    float: none;
    margin-left: 164px;
  }
  .wrapper .wrapper_header nav{
    position: absolute;
    width: 245px;
    height: 258px;
    border: .5px solid #000;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    background: rgba(54, 41, 62, .8);
    z-index: 3;
    margin: 12px 0px 0px 117px;

  }
  .wrapper .menu__item{
    display: block;
    border-bottom: .5px solid #35273d;
  }
  .wrapper .menu__elem{
    margin: 0px auto 0px;
    display: block;
    text-align: center;
    padding: 5px 5px 6px 5px;
  }
  .wrapper .menu__elem:focus{
    background: rgba(0, 0, 0, .5);
  }
  .wrapper .menu__elem:hover{
    text-shadow: 0px 0px 10px rgba(255, 255, 255, .6);
  }
  .wrapper .wrapper_slider{
    height: 245px;
    margin: 0 0 99px 0;
  }
  .wrapper .slider{
    width: 480px;
  }
  .wrapper .slider_iphone{
    height: 304px;
    width: 189px;
    background-size: cover;
  }
  .wrapper .slider_arrows{
    width: 490px;
    margin: -146px 0px 0px -3px;
  }
  .wrapper .slider_buttons{
    position: relative;
    top: -35px;
    left: -149px;
    margin: 0;
  }
  .wrapper .slider__box{
    margin: -258px 0px 0px 258px;
    height: 200px;
    overflow: visible;
  }
  .wrapper .slider__item1{
    height: 158px;
    width: 220px;
    margin: 90px 0 0 39px;
  }
  .wrapper .slider__item1 h1{
    font-size: 36px;
    margin: -2px 0px 10px 0px;
  }
  .wrapper .slider__item1 h2{
    margin: -15px 0 4px 0px;
    font-size: 20px;
  }
  .wrapper .slider__item1 p{
    display: none;
  }
  .wrapper .wrapper_about{
    height: 598px;
  }
  .wrapper .about{
    height: 598px;
    overflow: hidden;
    width: 480px;
  }
  .wrapper .about:first-child{
    padding-top: 68px;
  }
  .wrapper .about_elem{
    display: block;
    margin: 0px auto 28px;
    width: 480px;
    height: 128px;
  }
  .wrapper .about_elem:before{
    top: 8px;
    left: 25px;
  }
  .wrapper .about_elem:last-child{
    margin: 0px auto 28px;
  }
  .wrapper .about_elem h3{
    margin: 8px 0px 0px 45px;
  }
  .wrapper .about_elem p{
    margin: 0px 0px 0px 78px;
    width: 360px;
    height: 73px;
  }
  .wrapper .about_elem a{
    margin: 0px 0 0px 392px;
  }
  .wrapper .wrapper_second{
    height: 786px;
  }
  .wrapper .second{
    margin: 69px auto 64px;
    width: 480px;
  }
  .wrapper .second_buttons{
    margin: 45px 0px 0px -10px;
  }
  .wrapper .testimonials{
    float: none;
    margin: 0px 0px 0px 44px;
    width: 416px;
  }
  .wrapper .testimonials h3{
    font-size: 30px;
    margin: 26px 0px 0px 38px;
  }
  .wrapper .testimonials h3:before{
    margin: -6px 0px 0px -62px;
  }
  .wrapper .testimonials p{
    margin: 10px 0px 0px 38px;
    height: 166px;
    width: 341px;
  }
  .wrapper .testimonials span{
    display: inline-block;
  }
  .wrapper .blog{
    float: none;
    margin: 39px 0px 0px 82px;
  }
  .wrapper .blog a{
    margin: 14px 0px 0px 251px;
  }
  .wrapper .wrapper_logos{
    height: 233px;
  }
  .wrapper .logos{
    height: 233px;
    width: 480px;
  }
  .wrapper .wrapper_footer1{
    height: 668px;
  }
  .wrapper .footer1{
    height: 668px;
    width: 480px;
  }
  .wrapper .footer1_elem:nth-child(1){
    padding-top: 79px;
  }
  .wrapper .footer1_elem:nth-child(2){
    padding-top: 47px;
  }
  .wrapper .footer1_elem:nth-child(3){
    padding-top: 50px;
  }
  .wrapper .footer1_elem{
    width: 480px;
    margin: 0px 0px 0px 0px;
    height: 132px;
  }
  .wrapper .footer1_elem h3,

  .wrapper .footer1_elem .foot_par_960{
    display: none;
  }
  .wrapper .footer1_elem .foot_par_960:before{
    display: none;
  }
  .wrapper .footer1_elem .foot_par_480{
    font-family: 'Open Sans Light', Tahoma, sans-serif;
    font-size: 16px;
    letter-spacing: -.5px;
    display: inline-block;
    margin: 0px 0px 0px 18px;
    line-height: 24px;
  }
  .wrapper .footer1_elem .foot_par_480:before{
    content: 'NEWS CATEGORIES';
    font-family: 'League Gothic', Tahoma, sans-serif;
    letter-spacing: -.5px;
    margin-bottom: 10px;
    font-size: 25px;
    display: block;
  }
  .wrapper .footer2{
    width: 480px;
  }
  .wrapper .footer2_design{
    margin: 26px 171px 0px 28px;
  }
  .wrapper .wrapper_footer2 .menu__elem{
    margin: 0px 11px 0px 0px;
  }

  .wrapper .logos .logos_item1{
    margin-left: 83px;
    margin-top: 39px;
  }

  .wrapper .logos .logos_item4{
    margin-left: 65px;
  }
  .wrapper .footer2 .menu__item{
    border: none;
  }

}
@media (max-width: 320px){
  body .wrapper{
    min-width: 320px;
    max-width: 480px;
  }
  .wrapper .wrapper_header{
    width: 320px;
    margin: 59px auto 162px;
  }
  .wrapper .wrapper_header nav{
    /*visibility: hidden;*/
    display: none;
  }

  .wrapper .menu320p_item{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    /*text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);*/
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
    padding: 5px 5px 2px 5px;
    margin: 16px 0px 0px 137px;
    border-bottom: 2px solid #edbfff;
  }
  .wrapper .logo{
    margin-left: 84px;
  }
  .wrapper .wrapper_slider{
    background: none;
    margin: 0 0 68px 0;
  }
  .wrapper .slider__item1{
    margin: 90px 0 0 65px;
  }
  .wrapper .slider_buttons{
    top: 232px;
    left: -229px;
  }
  .wrapper .slider{
    width: 320px;
  }
  .wrapper .slider_iphone{
    display: none;
  }
  .wrapper .slider_arrows{
    width: 325px;
    margin: -145px 0px 0px -1px;
  }
  .wrapper .about{
    width: 320px;
  }
  .wrapper .about:first-child{
    padding-top: 59px;
  }
  .wrapper .about_elem{
    width: 320px;
  }
  .wrapper .about_elem p{
    width: 194px;
  }
  .wrapper .about_elem a{
    margin: 0px 0px 0px 234px;
  }
  .wrapper .second{
    width: 320px;
  }
  .wrapper .testimonials{
    margin: 0px 0px 0px 45px;
    width: 256px;
  }
  .wrapper .testimonials h3{
    font-size: 24px;
    margin: 24px 0px 0px 34px;
  }
  .wrapper .testimonials h3:before{
    margin: -4px 0px 0px -59px;
  }
  .wrapper .testimonials span{
    display: block;
    margin: -5px 0px 0px 2px;
  }
  .wrapper .testimonials p{
    margin: 1px 0px 0px 38px;
    hyphens: auto;
    width: 184px;
  }
  .wrapper .second_buttons{
    margin: 39px 0px 0px 18px;
  }
  .wrapper .blog{
    margin: 39px 0px 0px 20px;
    width: 321px;
    overflow: hidden;
  }
  .wrapper .blog__elem h4{
    overflow: hidden;
    position: relative;
    top: 4px;
    width: 168px;
    height: 24px;
  }
  .wrapper .blog__elem p{
    width: 216px;
  }
  .wrapper .blog a{
    margin: 12px 0px 0px 188px;
  }
  .wrapper .wrapper_logos{
    height: 422px;
  }
  .wrapper .logos{
    height: 420px;
    width: 320px;
  }
  .wrapper .logos .logos_item1{
    margin-left: 63px;
    margin-top: 54px;
  }
  .wrapper .logos .logos_item3{
    margin-left: 69px;
    margin-top: 54px;
  }
  .wrapper .logos .logos_item4{
    margin-left: 60px;
  }
  .wrapper .logos .logos_item5{
    margin-left: 42px;
    margin-top: 36px;
  }
  .wrapper .wrapper_footer1{
    display: none;
  }
  .wrapper .wrapper_footer2 nav{
    display: none;
  }
  .wrapper .footer2_design{
    margin: 39px 251px 0px 28px;
  }
}


.wrapper{
  /*width: 964px;*/
  /*width: 2400px;*/

  /*width: 100%;*/
  /*min-width: 768px;*/
  min-width: 960px;
  /*min-width: 1600px;*/
  max-width: 2400px;

  font-family: 'League Gothic', Tahoma, sans-serif;
  color: #000;
  font-size: 24px;
  margin: 0 auto;
  position: relative;
  background: #aaa url(../img/bg.jpg) no-repeat 0px 0px;
  overflow: hidden;
}


/*HEADER*/
header{
  overflow: hidden;
  /*margin: 58px auto 162px;*/
  height: 278px;
}
.wrapper_header{
  width: 960px;
  overflow: hidden;
  margin: 58px auto 0;
}
  /*LOGO*/
.logo{
  float: left;
  display: inline-block;
}
.logo__item{
  display: inline-block;
  height: 53px;
  width: 152px;
  background: url(../img/logo.png) no-repeat;
}

.menu320p_item{
  display: none;
}
  /*NAV*/
.wrapper_header nav{
  float: right;
  display: inline-block;
  /*margin-top: 6px;*/
  margin-top: 9px;
}
.menu__item{
  display: inline-block;
}
.menu__elem{
  /*float: left;*/
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  padding: 5px 5px 2px 5px;
  margin-right: 37px;
  border-bottom: 2px solid transparent;
  /*line-height: 0px;*/
}
.menu__elem:focus,
.menu__elem:hover{
  border-bottom: 2px solid #edbfff;
}
.marginnull{
  margin-right: 0px;
}



/*SLIDER*/
.wrapper_slider{
  background: rgba(0,0,0, .3);
  /*padding: 68px 0px 0px 0px;*/
  margin: 0 0 167px 0;
  height: 400px;
  overflow: hidden;
}
.slider{
  clear: both;
  /*height: 330px;*/
  margin: 68px auto 0px;
  width: 960px;
}
.slider__item1{
  width: 519px;
  height: 250px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .2);
  margin: 0px 0px 0px 0px;
  overflow: hidden;
}
.slider__item1 h1{
  font-size: 60px;
  color: #fff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .2);
  letter-spacing: -1px;
}
.slider__item1 h2{
  font-size: 34px;
  color: #edbfff;
  /*line-height: 20px;*/
  margin: -10px 0 10px 0;
  letter-spacing: -2px;
  height: 34px;
  overflow: hidden;
}
.slider__item1 p{
  font-size: 18px;
  font-family: 'League Ghotic', Tahoma, sans-serif;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .2);
  color: #fff;
  line-height: 24px;
}
.slider__box{
  display: block;
  position: absolute;
  /* top: 260px; */
  /*left: 1335px;*/
  /* left: 641px; */
  height: 570px;
  width: 270px;
  overflow: hidden;
  margin: -337px 0px 0px 616px;
}
.slider_iphone{
  display: block;
  /*height: 426px;*/
  height: 426px;
  width: 270px;
  background: url(../img/iphone.png) no-repeat;
}

.slider_arrows{
  width: 1597px;
  /* width: 100%; */
  height: 44px;
  overflow: hidden;
  position: absolute;
  margin: -139px 0px 0px -314px;
}
.slider_arrows a{
  display: block;
  background: url(../img/arrows.png) no-repeat;
  width: 30px;
  height: 44px;
}
.slider_arrows .left_arrow{
  float: left;
  background-position: -2px -4px;
}
.slider_arrows .right_arrow{
  float: right;
  background-position: -56px -4px;
}
/*hover*/
.slider_arrows .left_arrow:hover{
  background-position: -2px -56px;
}
.slider_arrows .right_arrow:hover{
  background-position: -56px -56px;
}
/*slider buttons*/
.slider_buttons{
  margin: 77px 0 0 0;
  text-align: center;
}
.slider_buttons input{
  display: none;
}
.slider_buttons label{
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin: 0px 0px 0px 3px;
  box-sizing: border-box;
}
#slider_button1:checked ~ #slider_button_label1,
#slider_button2:checked ~ #slider_button_label2,
#slider_button3:checked ~ #slider_button_label3,
#slider_button4:checked ~ #slider_button_label4{
  background: #fff;
  border: 4px solid rgba(0, 0, 0, 0.5);
}



/*MAIN*/
/*SECTION ABOUT*/
.wrapper_about{
  background: linear-gradient(to top, #322539, #745083);

  box-sizing: border-box;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.about{
  width: 960px;
  height: 342px;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  padding-left: 11px;
  margin: 0px auto;
}
.about_elem {
  width: 274px;
  height: 204px;
  display: inline-block;
  margin: 73px 55px 64px 3px;
}
.about_elem:last-child{
  margin-right: 0px;
}
.about_elem:before{
  content: '';
  background: url(../img/about_icons_sprite.png) no-repeat;
  display: inline-block;
  height: 28px;
  width: 28px;
  position: relative;
  top: 8px;
  left: -3px;
}
.about_elem h3{
  font-family: 'League Gothic', Tahoma, sans-serif;
  font-size: 30px;
  letter-spacing: -1px;
  display: inline-block;
  margin: 0px 0px 0px 18px;
}
.about_elem p{
  font-family: 'Open Sans Light', Tahoma, sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  display: inline-block;
  margin: 5px 0px 0px 50px;
  line-height: 24px;
}
.about_elem a{
  font-family: 'League Gothic', Tahoma, sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  /*display: block;*/
  text-align: right;
  /*margin: 16px 8px 0px 0px;*/
  display: inline-block;
  margin: 16px 0px 0px 210px;
}
.about_elem a:hover{
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

.tool-icon:before{
  background-position: 0px 0px;
}
.speak-icon:before{
  background-position: -36px 0px;
}
.music-icon:before{
  background-position: -75px 0px;
}





/*SECTION SECOND*/
.wrapper_second{
  background: #f9f9f9;
  overflow: hidden;
}
.second{
  /*margin-top: 99px;*/
  margin: 98px auto 64px;
  /*float: left;*/
  overflow: hidden;
  width: 960px;
}

/*testimonials*/
.testimonials {
  float: left;
  display: inline-block;
  width: 427px;
  height: 295px;
  background: url(../img/testimonials_bg.png) 0px 0px no-repeat;
}
.testimonials h3{
  font-family: 'League Gothic', Tahoma, sans-serif;
  font-size: 30px;
  letter-spacing: -1px;
  display: inline-block;
  margin: 30px 42px 0px 38px;
}
.testimonials h3:before{
  content: '';
  background: url(../img/testimonial_icon.png);
  position: absolute;
  display: inline-block;
  height: 50px;
  width: 49px;
  margin: -6px 0px 0px -60px;
  /* top: 1306px; */
  /* left: 695px; */
}
.testimonials span{
  color: #edbfff;
}
.testimonials p{
  font-family: 'Open Sans Light', Tahoma, sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  display: inline-block;
  margin: 0px 42px 0px 38px;
  line-height: 24px;
}

/*TESTIMONIALS BUTTONS*/
/*slider buttons*/
.second_buttons{
  margin: 56px 0 0 0;
  text-align: center;
}
.second_buttons input{
  display: none;
}
.second_buttons label{
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 0px 0px 0px 3px;
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
#second_button1:checked ~ #second_button_label1,
#second_button2:checked ~ #second_button_label2,
#second_button3:checked ~ #second_button_label3,
#second_button4:checked ~ #second_button_label4{
  background: #000;
  border: 2px solid #fff;
  box-shadow: none;
}

/*BLOG*/
.blog{
  float: left;
  display: inline-block;
  width: 450px;
  height: 295px;
  /*text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);*/
  /*border: 1px solid black;*/
  box-sizing: border-box;
  margin: 30px 0px 0px 60px;
}
.blog h3{
  font-family: 'League Gothic', Tahoma, sans-serif;
  font-size: 30px;
  letter-spacing: -1px;
  display: inline-block;
  margin: 0px 0px 0px 0px;
}
.blog__elem{
  display: inline-block;
}
.blog a{
  display: inline-block;
  margin: 15px 0px 0px 320px;
  font-size: 18px;
  color: #000;
  font-family: 'League Gothic', Tahoma, sans-serif;
  letter-spacing: -0.5px;
}
.blog a:after{
  content: "READ MORE HERE";
  display: inline-block;
}
.blog__elem h4{
  font-family: 'open_sansextrabold', sans-serif;
  font-size: 16px;
  display: inline-block;
  margin: 0px 0px 0px 67px;
}
.blog__elem p{
  font-family: 'Open Sans Light', sans-serif;
  font-size: 16px;
  display: inline-block;
  letter-spacing: -0.3px;
  margin: 0px 0px 0px 67px;
}
.blog__elem:before{
  height: 49px;
  width: 49px;
  position: absolute;
  content: '';
  display: inline-block;
  background: url(../img/blog_sprite.png) no-repeat;
  margin-top: 6px;
}
.blog__icon1:before{
  background-position: 0px 0px;
}
.blog__icon2:before{
  background-position: 0px -52px;
}
.blog__icon3:before{
  background-position: 0px -104px;
}




/*LOGOS*/
.wrapper_logos{
  background: #f9f9f9;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
.logos{
  clear: both;
  height: 121px;
  width: 960px;
  margin: 0px auto;
  box-sizing: border-box;
}
.logos a{
  height: 64px;
  display: inline-block;
  background: url(../img/logos_sprite.png) no-repeat;
  margin-top: 25px;
}
/*logos bg position*/
.logos .logos_item1{
  background-position: 0px 0px;
  width: 69px;
  margin-left: 93px;
}
.logos .logos_item2{
  background-position: -134px 0px;
  width: 72px;
  margin-left: 64px;
}
.logos .logos_item3{
  background-position: -270px 0px;
  width: 65px;
  margin-left: 63px;
}
.logos .logos_item4{
  background-position: -408px 0px;
  width: 52px;
  margin-left: 74px;
}
.logos .logos_item5{
  background-position: -528px 0px;
  width: 103px;
  margin-left: 67px;
}
.logos .logos_item6{
  background-position: -697px 0px;
  width: 78px;
  margin-left: 65px;
}

/*hover*/
.logos_item1:hover{
  background-position: 0px -69px;
}
.logos_item2:hover{
  background-position: -134px -69px;
}
.logos_item3:hover{
  background-position: -270px -69px;
}
.logos_item4:hover{
  background-position: -408px -69px;
}
.logos_item5:hover{
  background-position: -528px -69px;
}
.logos_item6:hover{
  background-position: -697px -69px;
}



/*FOOTER*/
/*section1*/
.wrapper_footer1{
  background: #ececec;
  height: 396px;
}
.footer1{
  width: 960px;
  height: 396px;
  /*color: #fff;*/
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
  /*padding-left: 11px;*/
  margin: 0px auto;
}
.footer1_elem {
  width: 320px;
  height: 204px;
  display: inline-block;
  margin: 96px -4px 96px 0px;
}
.footer1_elem:last-child{
  margin-right: 0px;
}
.footer1_elem h3{
  font-family: 'League Gothic', Tahoma, sans-serif;
  font-size: 30px;
  letter-spacing: -1px;
  display: inline-block;
  margin: 0px 0px 0px 50px;
}
.footer1_item_copyright {
  font-family: Georgia, sans-serif;
  color: #c5c5c5;
  font-size: 16px;
  font-style: italic;
  margin-left: 48px;
}
.footer1_elem .foot_par_960{
  font-family: 'Open Sans Light', Tahoma, sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  display: inline-block;
  margin: 5px 0px 0px 50px;
  line-height: 24px;
}
.footer1 .footer1_item_head{
  font-size: 48px;
}
.foot_par_480 {
  display: none;
}
.footer1_elem span{
  color: #b9b9b9;
}


/*section2*/
.wrapper_footer2{
  background: url(../img/footer_bg.jpg) no-repeat;
  height: 109px;
}
.footer2{
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
}
.wrapper_footer2 nav{
  float: left;
  display: inline-block;
  /*margin-top: 6px;*/
  margin-top: 40px;
  margin-left: 50px;
}
.wrapper_footer2 .menu__item{
  display: inline-block;
}
.wrapper_footer2 .menu__elem{
  /*float: left;*/
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  padding: 5px 5px 2px 5px;
  margin-right: 37px;
  /*line-height: 0px;*/
}
.footer2_design{
  display: inline-block;
  float: right;
  margin-top: 50px;
}
.footer2_design p{
  font-family: 'Open Sans Light', Tahoma, sans-serif;
  font-size: 12px;
  color: #fff;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}
.footer2_design span{
  font-family: 'open_sansextrabold', Tahoma, sans-serif;

}




@font-face {
  font-family: 'League Gothic';
  src: url('../fonts/lg/leaguegothic-regular-webfont.eot');
  src: url('../fonts/lg/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/lg/leaguegothic-regular-webfont.woff2') format('woff2'),
     url('../fonts/lg/leaguegothic-regular-webfont.woff') format('woff'),
     url('../fonts/lg/leaguegothic-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'League Ghotic Condensed';
    src: url('../fonts/lg/leaguegothic-condensedregular-webfont.eot');
    src: url('../fonts/lg/leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lg/leaguegothic-condensedregular-webfont.woff2') format('woff2'),
         url('../fonts/lg/leaguegothic-condensedregular-webfont.woff') format('woff'),
         url('../fonts/lg/leaguegothic-condensedregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/os/opensans-bold-webfont.eot');
    src: url('../fonts/os/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/os/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/os/opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/os/opensans-extrabold-webfont.eot');
    src: url('../fonts/os/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/os/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/os/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/os/opensans-light-webfont.eot');
    src: url('../fonts/os/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/os/opensans-light-webfont.woff') format('woff'),
         url('../fonts/os/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/os/opensans-regular-webfont.eot');
    src: url('../fonts/os/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/os/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/os/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/os/opensans-semibold-webfont.eot');
    src: url('../fonts/os/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/os/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/os/opensans-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
