@media screen and (max-width:768px), screen\0 {
  body .wrapper{
    min-width: 768px;
    max-width: 960px;
  }
  .wrapper .wrapper_header{
    overflow: hidden;
    margin: 58px auto 162px;
    width: 768px;
  }
  .wrapper .logo{
    margin: 0px 0px 0px 18px;
  }
  .wrapper .wrapper_header nav{
    margin: 16px 0px 0px 14px;
    float: none;
  }
  .wrapper .slider{
    clear: both;
    height: 330px;
    margin: 0px auto 0px;
    width: 768px;
  }
  .wrapper .slider_arrows{
    width: 774px;
    margin: -113px 0px 0px -3px;
  }
  .wrapper .slider_buttons{
    margin: 26px 0 0 0;
  }
  .wrapper .slider__box{
    margin: -314px 0px 0px 447px;
  }
  .wrapper .slider__item1{
    width: 370px;
    height: 200px;
    margin: 90px 0 0 42px;
  }
  .wrapper .slider__item1 h1{
    margin: 0 0 10px 0;
    font-size: 49px;
  }
  .wrapper .slider__item1 h2{
    font-size: 24px;
    margin: -10px 0 3px 0;
    display: inline-block;
    width: 266px;
    letter-spacing: -1px;
  }
  .wrapper .slider__item1 p{
    font-size: 16px;
    width: 282px;
  }
  .wrapper .about{
    width: 768px;
  }
  .wrapper .logos{
    width: 768px;
  }
  .wrapper .footer1{
    width: 768px;
    height: 396px;
    /*color: #fff;*/
    text-shadow: 0px 1px 0px rgba(255, 255, 255,   1);
    /*padding-left: 11px;*/
    margin: 0px auto;
  }
  .wrapper .footer2{
    margin: 0 auto;
    width: 768px;
    overflow: hidden;
  }

  .wrapper .second{
    width: 768px;
  }
  .wrapper .second_buttons{
    margin: 54px 0px 0px 154px
  }
  .wrapper .about_elem{
    width: 200px;
    margin: 68px 18px 0px 28px;
  }
  .wrapper .about_elem h3{
    font-size: 24px;
  }
  .wrapper .about_elem p{
    overflow: hidden;
    height: 142px;
  }
  .wrapper .about_elem a{
    margin: 0px 0 0 142px;
  }
  .wrapper .testimonials{
    width: 313px;
  }
  .wrapper .testimonials h3{
    font-size: 24px;
    margin: 28px 0px 0px 81px;
  }
  .wrapper .testimonials p{
    height: 144px;
    width: 238px;
    overflow: hidden;
    margin: -2px 0px 0px 81px;
  }
  .wrapper .testimonials span{
    display: block;
  }
  .wrapper .blog{
    width: 340px;
    margin-left: 100px;
  }
  .wrapper .blog__elem{
    margin: 7px 0 0 0;
  }
  .wrapper .blog a:after{
    content: "MORE BLOG POSTS";
    display: inline-block;
  }
  .wrapper .blog__elem p{
    width: 252px;
    height: 22px;
    overflow: hidden;
  }
  .wrapper .blog a{
    margin: 10px 0px 0px 240px;
  }
  .wrapper .footer1{
    width: 768px;
  }
  .wrapper .footer1_elem{
    width: 226px;
    overflow: hidden;
    margin-right: 34px;
  }
  .wrapper .footer1_elem h3,
  .wrapper .footer1_item_copyright{
    display: none;
  }
  .wrapper .footer1_elem .foot_par_960{
    hyphens: manual;
    margin: 5px 0px 0px 22px;
  }
  .wrapper .footer1_elem .foot_par_960:before{
    content: 'NEWS CATEGORIES';
    font-family: 'League Gothic', Tahoma, sans-serif;
    letter-spacing: -.5px;
    margin-bottom: 10px;
    font-size: 24px;
    display: block;
  }
  .wrapper .wrapper_footer2{
    height: 200px;
  }
  .wrapper .wrapper_footer2 nav{
    margin: 40px 0px 0px 14px;
  }
  .wrapper .footer2_design{
    margin: 26px 22px 0px 28px;
    display: block;
  }
  .wrapper .wrapper_footer2 .menu__elem{
    margin: 0px 29px 0px 0px;
  }

  .wrapper .logos .logos_item1{
    margin-left: 22px;
  }
  .wrapper .logos .logos_item2{
    margin-left: 50px;
  }
  .wrapper .logos .logos_item3{
    margin-left: 51px;
  }
  .wrapper .logos .logos_item4{
    margin-left: 60px;
  }
  .wrapper .logos .logos_item5{
    margin-left: 54px;
  }
  .wrapper .logos .logos_item6{
    margin-left: 51px;
  }

  .wrapper header{
    height: 244px;
  }

  .wrapper .wrapper_slider{
    margin: 0 0 153px 0;
  }
}
