@font-face {
  font-family: 'League Gothic';
  src: url('../fonts/lg/leaguegothic-regular-webfont.eot');
  src: url('../fonts/lg/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/lg/leaguegothic-regular-webfont.woff2') format('woff2'),
     url('../fonts/lg/leaguegothic-regular-webfont.woff') format('woff'),
     url('../fonts/lg/leaguegothic-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'League Ghotic Condensed';
    src: url('../fonts/lg/leaguegothic-condensedregular-webfont.eot');
    src: url('../fonts/lg/leaguegothic-condensedregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lg/leaguegothic-condensedregular-webfont.woff2') format('woff2'),
         url('../fonts/lg/leaguegothic-condensedregular-webfont.woff') format('woff'),
         url('../fonts/lg/leaguegothic-condensedregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/os/opensans-bold-webfont.eot');
    src: url('../fonts/os/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/os/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/os/opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../fonts/os/opensans-bolditalic-webfont.eot');
    src: url('../fonts/os/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/os/opensans-bolditalic-webfont.woff') format('woff'),
         url('../fonts/os/opensans-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/os/opensans-extrabold-webfont.eot');
    src: url('../fonts/os/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/os/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/os/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold_italic';
    src: url('../fonts/os/opensans-extrabolditalic-webfont.eot');
    src: url('../fonts/os/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os/opensans-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/os/opensans-extrabolditalic-webfont.woff') format('woff'),
         url('../fonts/os/opensans-extrabolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/os/opensans-italic-webfont.eot');
    src: url('../fonts/os/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/os/opensans-italic-webfont.woff') format('woff'),
         url('../fonts/os/opensans-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/os/opensans-light-webfont.eot');
    src: url('../fonts/os/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/os/opensans-light-webfont.woff') format('woff'),
         url('../fonts/os/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/os/opensans-lightitalic-webfont.eot');
    src: url('../fonts/os/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/os/opensans-lightitalic-webfont.woff') format('woff'),
         url('../fonts/os/opensans-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/os/opensans-regular-webfont.eot');
    src: url('../fonts/os/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/os/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/os/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/os/opensans-semibold-webfont.eot');
    src: url('../fonts/os/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/os/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/os/opensans-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold_italic';
    src: url('../fonts/os/opensans-semibolditalic-webfont.eot');
    src: url('../fonts/os/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/os/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/os/opensans-semibolditalic-webfont.woff') format('woff'),
         url('../fonts/os/opensans-semibolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


body{
  background: #aaa;
}
.wrapper{
  width: 964px;
  font-family: 'League Gothic', Tahoma, sans-serif;
  color: black;
  font-size: 24px;
  margin: 0 auto;
  position: relative;
}


/*HEADER*/
header{
  float: left;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 960px;
}
  /*LOGO*/
.logo{
  float: left;
  display: inline-block;
  position: relative;
}
.logo__item{
  text-decoration: none;
  color: #fff;
  font-size: 48px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.logo .logo__elem{
  text-shadow: none;
  /*color: linear-gradient(to top, #322539, #745083);*/
  background:
    -webkit-linear-gradient(bottom, #322539, #745083);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


  /*NAV*/
nav{
  float: right;
  display: inline-block;
  /*margin-top: 6px;*/
  margin-top: 9px;
}
.menu{}
.menu__item{
  display: inline-block;
}
.menu__elem{
  /*float: left;*/
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  padding: 5px 5px 2px 5px;
  margin-right: 37px;
  /*line-height: 0px;*/
}
.menu__elem:focus,
.menu__elem:hover{
  border-bottom: 2px solid #edbfff;
}
.marginnull{
  margin-right: 0px;
}



/*SLIDER*/
.slider{
  clear: both;
  height: 400px;
  background: rgba(0,0,0,0.5);
  margin: 40px 0px 0px 0px;
}
.slider__item1{
  width: 519px;
  height: 239px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.slider__item1 h1{
  font-size: 58px;
}
.slider__item1 h2{
  font-size: 34px;
  color: #edbfff;
  line-height: 20px;
  margin-bottom: 10px;
}
.slider__item1 p{
  font-size: 18px;
  font-family: 'League Ghotic', Tahoma, sans-serif;
  line-height: 24px;
}




/*MAIN*/
/*SECTION ABOUT*/
.about{
  height: 342px;
  background: linear-gradient(to top, #322539, #745083);
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  padding-left: 11px;
}
.about_elem {
  width: 274px;
  height: 204px;
  display: inline-block;
  margin: 73px 61px 64px 0px;
}
.about_elem:before{
  content: '';
  background: url(../img/about_icons_sprite.png) no-repeat;
  display: inline-block;
  height: 28px;
  width: 28px;
  position: relative;
  top: 8px;
  left: -3px;
}
.about_elem:last-child{
  margin-right: 0px;
}
.about_elem h3{
  font-family: 'League Gothic', Tahoma, sans-serif;
  font-size: 30px;
  letter-spacing: -1px;
  display: inline-block;
  margin: 0px 0px 0px 18px;
}
.about_elem p{
  font-family: 'Open Sans Light', Tahoma, sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  display: inline-block;
  margin: 5px 0px 0px 50px;
  line-height: 24px;
}
.about_elem a{
  font-family: 'League Gothic', Tahoma, sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  /*display: block;*/
  text-align: right;
  /*margin: 16px 8px 0px 0px;*/
  display: inline-block;
  margin: 16px 0px 0px 210px;
}
/*section about icon sprite positioning*/
.tool-icon:before{
  background-position: 0px 0px;
}
.speak-icon:before{
  background-position: -36px 0px;
}
.music-icon:before{
  background-position: -75px 0px;
}





/*SECTION SECOND*/
/*testimonials*/
.second{
  margin-top: 99px;
  float: left;
}
.testimonials {
  float: left;
  display: inline-block;
  width: 427px;
  height: 295px;
  background: url(../img/testimonials_bg.png) 0px 0px no-repeat;
}
.testimonials h3{
  font-family: 'League Gothic', Tahoma, sans-serif;
  font-size: 30px;
  letter-spacing: -1px;
  display: inline-block;
  margin: 30px 42px 0px 38px;
}
.testimonials span{
  color: #edbfff;
}
.testimonials p{
  font-family: 'Open Sans Light', Tahoma, sans-serif;
  font-size: 16px;
  letter-spacing: -0.5px;
  display: inline-block;
  margin: 0px 42px 0px 38px;
  line-height: 24px;
}



/*BLOG*/
.blog{
  float: left;
  display: inline-block;
  width: 450px;
  height: 295px;
  /*text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);*/
  /*border: 1px solid black;*/
  box-sizing: border-box;
  margin: 0px 0px 0px 60px;
}
.blog h3{
  font-family: 'League Gothic', Tahoma, sans-serif;
  font-size: 30px;
  letter-spacing: -1px;
  display: inline-block;
  margin: 0px 0px 0px 0px;
}
.blog__elem{
  display: inline-block;
}
.blog a{
  font-family: 'League Gothic', Tahoma, sans-serif;
  font-size: 18px;
  color: #000;
  letter-spacing: -0.5px;
  display: inline-block;
  margin: 0px 0px 0px 270px;
  text-decoration: none;
}
.blog__elem h4{
  font-family: 'open_sansextrabold', sans-serif;
  font-size: 16px;
  display: inline-block;
  margin: 0px 0px 0px 67px;
}
.blog__elem p{
  font-family: 'Open Sans Light', sans-serif;
  font-size: 16px;
  display: inline-block;
  letter-spacing: -0.3px;
  margin: 0px 0px 0px 67px;
}
.blog__elem:before{
  height: 49px;
  width: 49px;
  position: absolute;
  content: '';
  display: inline-block;
  background: url(../img/blog_sprite.png) no-repeat;
}
.blog__icon1:before{
  background-position: 0px 0px;
}
.blog__icon2:before{
  background-position: 0px -52px;
}
.blog__icon3:before{
  background-position: 0px -104px;
}




/*LOGOS*/
.logos{
  clear: both;
  height: 121px;
  width: 960px;
  margin: 0px 0px 0px 0px;
  height: 121px;
  /*height: 64px;*/
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  box-sizing: border-box;
}
.logos a{
  height: 64px;
  display: inline-block;
  background: url(../img/logos_sprite.png) no-repeat;
  margin-top: 25px;
}
/*logos bg position*/
.logos .logos_item1{
  background-position: 0px 0px;
  width: 69px;
  margin-left: 93px;
}
.logos .logos_item2{
  background-position: -134px 0px;
  width: 72px;
  margin-left: 64px;
}
.logos .logos_item3{
  background-position: -270px 0px;
  width: 65px;
  margin-left: 63px;
}
.logos .logos_item4{
  background-position: -408px 0px;
  width: 52px;
  margin-left: 74px;
}
.logos .logos_item5{
  background-position: -528px 0px;
  width: 103px;
  margin-left: 67px;
}
.logos .logos_item6{
  background-position: -697px 0px;
  width: 78px;
  margin-left: 65px;
}

/*hover*/
.logos_item1:hover{
  background-position: 0px -69px;
}
.logos_item2:hover{
  background-position: -134px -69px;
}
.logos_item3:hover{
  background-position: -270px -69px;
}
.logos_item4:hover{
  background-position: -408px -69px;
}
.logos_item5:hover{
  background-position: -528px -69px;
}
.logos_item6:hover{
  background-position: -697px -69px;
}
