<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>HW_5</title>
    <link rel="stylesheet" href="css/RESET.css">
    <link rel="stylesheet" href="css/style_hw5.css">
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <div class="nav">
        <ul>
          <li><a href="#">Meu YouBike</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Forum</a></li>
          <li><a href="#">Contato</a></li>
          <li><a class="rightborder" href="#">Ajuda</a></li>
          <li id="inventicon">Minhas Ofertas</li>
          <li>Ola!<a href="#">Entrar</a>ou<a href="#">Cadastre-se</a></li>
        </ul>
      </div>
    </div>
    <div class="article">
      <div class="form">
        <div class="formhead">
          <p>Cadastre-se</p>
        </div>
        <div class="formbody">
          <div class="facebook">
            <a class="face_a1" href="#"><span>f</span></a>
            <a class="face_a2" href="#"><span>Log In</span> with <span>Facebook</span></a>
          </div>
          <div class="OU_lines">
            <hr>
            <p>OU</p>
            <hr>
          </div>
          <form>
            <input class="fields" type="text" name="first_name" placeholder="First Name" required>
            <input class="fields" type="text" name="last_name" placeholder="Last Name" required>
            <input class="fields" type="email" name="email" placeholder="Email Address" required>
            <input class="fields" type="password" placeholder="Password" id="password" required>
            <input class="fields" type="password" placeholder="Password Confirm" id="confirm_password" required>
            <div class="send_me">
              <input type="checkbox" id="send">
              <label for="send">Send me YouBike updates and tips</label>
            </div>
            <input type="submit" value="Create my Account">
          </form>
        </div>
        <div class="formfoot">
          <p>By clicking the button above, you agree to The Therms Service Xiew our Privacy Policy.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
